nav#navbar-main { text-transform:uppercase; background-color:#fff; }

.nav-link { text-align:center; padding-bottom:0 !important; }

.navbar-brand, .navbar-nav li.nav-item a.nav-link { line-height: 1em !important; }

.nav-link:not(.dropdown-toggle):not(.js-search):after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 0%; /* Change this to whatever width you want to have before hover. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid $primary; /* This creates the border. Replace black with whatever color you want. */
  margin: 0 auto;
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.nav-link:not(.dropdown-toggle):not(.js-search):hover:after {
    width: 100%; /* This will be the new width of your border when on hover */
	margin: 0 auto;
}

.portrait { width:100px; height:100px; }

.fa-icon { display:inline-block; vertical-align:middle; }
.fa-element { background-image: url(/media/element.svg); background-size: 25px; background-repeat: no-repeat; background-position: 0 2px; width: 25px; height: 34px; }
.media-body .fa-element { background-size:12px; width:12px; background-position: 0 6px; }
.keyboard { background: #eee; border: solid 2px #aaa; border-radius: 3px; border-style: outset; padding: .1em .3em; margin-right:.3em; color:#333; }
.article-style aside, .alert-note { color: #5e81ac; background-color: #DFEAF4; border-color: #5e81ac; }
.article-style aside p::before, div.alert > div:first-child::before { color:#5e81ac; }
pre, code { color:#d08770; }
pre { font-size:1em !important; }
.see-all { font-size: .8rem; }
#talk_list .col-lg-2 h3 { font-family: $font-family-sans-serif !important; font-weight:300; margin-top:0;  }
.featurette h3, .project-card h4 { font-family: $font-family-sans-serif; }
.media.stream-item .stream-meta { margin-top:0; }
.home-section:nth-of-type(2n) { background-color:#eceff4; }
.author-card .card-title { margin-bottom:0; }

body.list .universal-wrapper.pt-3 h1 { display: none; }
img.article-banner  { margin-bottom: 3em; }

.article-header-caption { right:auto; left:0; border-radius: 0 5px 0 0; opacity: .3; }

#about .col-12 > p { text-align:center; }

body.home { 
	font-family:"Playfair Display", Georgia, serif;

	nav.navbar-light { 
		background-color:transparent !important; 
		box-shadow: none !important;
		a.navbar-brand { display:none !important; }
		.navbar-nav > .nav-item > .nav-link.js-search, .navbar-nav > .nav-item.dropdown > .nav-link { display:block !important; color:#666 !important; }
	}

	.portrait-title h2 {
		font-family: $sta-font-nav; 
		text-transform: uppercase;
		letter-spacing: .1em; 
	}

	#about .col-12 > p { font-family: $sta-font-nav; }

	footer { display:none; }
}


/* Blog posts */
#blog-posts, #related { 
	width:90%; margin:2em auto; 
	ul { padding-left:0; }
	li { clear:both; list-style-type:none; }
	.date {
	    font-family: Roboto, sans-serif;
	    font-size: .9em;
	    font-weight: 300;
	    display: inline-block;
	    width: 7em;
	    float:left;
	}
	.title {
		display: block;
		float: left;
		width: calc(100% - 7em);
		a { font-size:.9em;line-height:1em;display:inline-block; }
	}
	.summary { display:none; }
}

.markup-quote { background-image: none; background-color: #FFE9C6; padding:0 .3em; }