<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "es-eu" }}">

{{ partial "site_head" . }}

<body id="top" class='{{ if .IsHome }}home{{ else if .IsPage }}single{{ else }}list{{ end }}' data-spy="scroll" data-offset="70" data-target="{{ if or .IsHome (eq .Type "widget_page") }}#navbar-main{{else}}#TableOfContents{{end}}" {{ if not (.Scratch.Get "light") }}class="dark"{{end}}>

  {{ partial "search" . }}

  {{ partial "navbar" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "site_js" . }}

  {{/* Docs and Updates layouts include the site footer in a different location. */}}
  {{ if not (in (slice "docs" "updates") .Type) }}
  <div class="container">
    {{ partial "site_footer" . }}
  </div>
  {{ end }}

  {{ partial "citation" . }}

  <a rel="me" href="https://mas.to/@miren" style="display:none">Mastodon</a> <!-- Mastodon verification -->

</body>
</html>