{{ partial "page_edit" . }}
{{ partial "tags" . }}
{{ partial "share" . }}
{{ partial "page_author" . }}
{{ partial "comments" . }}

{{ if site.Params.section_pager }}
<div class="article-widget">
  {{ partial "section_pager" . }}
</div>
{{ end }}

{{ if ne .Type "page" }}
  {{ $related := site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <div class="article-widget content-widget-hr">
    <h3>{{ i18n "related" }}</h3>
    <div id="related">
      <ul>
        {{ range . }}
        <li><span class="date">{{ .PublishDate.Format "2006/01/02" }}</span> <span class="title"> <a href="{{ .RelPermalink }}">{{ .Title }}</a></span></li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}

  <div class="article-widget content-widget-hr">
    <h3>{{ i18n "comments" }}</h3>
  </div>
  <div id="comment-section"></div>

  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "miren.bz",
    commentSectionId: "section1"
  })
  </script>

{{ end }}